
.accueil{
    font-size: 100%;
    text-align: center;
    display: inline-block;
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 190%;
    font-family: 'Noto Serif', serif;
    margin-top: 6px;
    border-radius: 5px;
}
h2{
    font-family: 'Noto Serif', serif;
    margin: 2%;
    color: rgb(255, 255, 255);

}

.image1{
    border-radius: 51px;
    width: 65%;
    box-shadow: 0px 0px 10px 1px grey;
}

.image2{
    border-radius: 51px;
    width: 50%;
}
.bar{ /*menu superieur*/
    background-color: rgb(223, 37, 39);
    border-radius: 5px;
    text-align: center;
    margin-top: -1rem;
}

.navi:link, .navi:visited {
    background-color: rgb(223, 37, 39);
    color: white;
    padding: 8px 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    
}
.navi:hover, .navi:active {
    background-color: rgb(116, 17, 0);
}

.tbmenu:link, .tbmenu:visited{
    color:rgb(2, 29, 2);
    padding: 3px 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    font-size: 87%;

}
.tbmenu:hover, .tbmenu:active {
    background-color: rgb(223, 37, 39);
    color: white;

}
.annee{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 190%;
    font-family: 'Noto Serif', serif;
    background-color: rgba(23, 71, 51);
    border-radius: 5px;
    margin-top: 10px;
}
.desc{
    font-family: 'Noto Serif', serif;
    margin: 2%;
    font-size: 150%;
}

p {
    margin-right: 2%;
    margin-left: 2%;
}
  
.na { /*menu inferieur*/
    background-color: rgb(223, 37, 39); 
    list-style-type: none;
    text-align: center;
    margin: 1%;
    padding: 0;
    border-radius: 5px;
}
  
.na li {
    display: inline-block;
    padding: 1px;
    text-decoration: none;
}

.top {
    background-color: rgba(23, 71, 51);
    border-radius: 5px;
    line-height: 30px;
    display: block;

}

.pale{
    background-color:rgb(55,47,45);
    border-radius: 5px;
    line-height: 30px;

}
.logo{
    width: 59px;
    top:25px;
    left: 22px;
}

.navilo:link, .navilo:visited {
    color: white;
    text-decoration: none;
    display: block;    
    
}
.navilo:hover, .navilo:active {
    background-color: rgb(11, 87, 56);
    border-radius: 5px;
    

}
