
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box;
   /* background-color: rgb(239, 239, 221); */
    font-family: 'Roboto', sans-serif;
    color: rgb(2, 29, 2);

}

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(to bottom, #ffffff 0%, #efefdd 50%);
    background: -moz-linear-gradient(to bottom, #ffffff 0%, #efefdd 50%);
    background: -ms-linear-gradient(to bottom, #ffffff 0%, #efefdd 50%);
    background: -o-linear-gradient(to bottom, #ffffff 0%, #efefdd 50%);
    background: linear-gradient(to bottom, #ffffff 0%, #efefdd 50%) fixed;
}
    